<config>
    <defs>
        <defFile>/config/cobb2.xml</defFile>
        <ratioFile>/config/ratios.xml</ratioFile>
    </defs>
    <canDevice>
        <useJ2534>0</useJ2534>
        <comPort>COM6</comPort>
        <baudRate>921600</baudRate>
    </canDevice>
    <logger>
        <rate>100</rate>
        <cel>00008E00008F00009000009100009200009300009400009500009600009700009800009900009A00009B00009C00009D00009E00009F0000A00000A10000A20000A30000A40000A50000A60000A70000A80000A90000AA0000AB0000AC0000AD</cel>
    </logger>
    <trip>
        <tripA>081719</tripA>
        <tripAMPG>0.0</tripAMPG>
        <tripB>079505.4</tripB>
        <tripBMPG>24.3</tripBMPG>
        <fuelStart>081717</fuelStart>
    </trip>
    <gauges>
        <general>
            <style>va</style>
            <animationDuration>100</animationDuration>
            <showAllSpeedDigits>1</showAllSpeedDigits>
            <showKnock>1</showKnock>
            <startupGaugeSweep>1</startupGaugeSweep>
            <activeTrip>tripA</activeTrip>
            <odometer>081720</odometer>
            <shiftLightThreshold>5000</shiftLightThreshold>
            <shiftLightFlashTimer>75</shiftLightFlashTimer>
			<shiftTargetTimer>250</shiftTargetTimer>
        </general>
        <tach>
            <minRot>270</minRot>
            <maxRot>120</maxRot>
            <minValue>0</minValue>
            <maxValue>7000</maxValue>
        </tach>
        <speedo>
            <minRot>270</minRot>
            <maxRot>125</maxRot>
            <minValue>0</minValue>
            <maxValue>180</maxValue>
        </speedo>
        <fuelGauge>
            <minRot>180</minRot>
            <maxRot>270</maxRot>
            <minValue>100</minValue>
            <maxValue>0</maxValue>
        </fuelGauge>
        <coolantGauge>
            <minRot>180</minRot>
            <maxRot>270</maxRot>
            <minValue>255</minValue>
            <maxValue>0</maxValue>
        </coolantGauge>
        <mpgGauge/>
    </gauges>
</config>
